<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/nav-bar.css" />
  </head>
  <body>
    <!-- ERROR 404 -->
    <ul>
      <li class="active" style="background-color: #936565">
        <a href="./">Home</a>
      </li>
      <li><a href="./books"> Book List</a></li>
      <li><a href="./search_books">Search Book List</a></li>  
    </ul>
    <style>
      body {
        background-image: url('https://img.freepik.com/free-photo/open-book-with-white-background_23-2148882765.jpg?w=1380&t=st=1668026090~exp=1668026690~hmac=04781beebca9891d243a79bf82fe8ad8a26e3e76c3c310bd97878cba7d7f0d95');
      }
      </style>
    <div
      class="error"
      style="margin-left: 25%; padding: 1px 16px; height: 1000px"
    >
      <h1><b>404 Error</b></h1>
      <p>Sorry, the page you are looking for is not found.</p>
    </div>
  </body>
</html>
