<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/nav-bar.css" />

    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <ul>
      <ul>
        <li class="active" style="background-color: #936565">
          <a href="./">Home</a>
        </li>
        <li><a href="./books"> Book List</a></li>
        <li><a href="./search_books">Search Book List</a></li>
      </ul>
    </ul>
    <style>
      body {
        background-image: url('https://img.freepik.com/free-photo/open-book-with-white-background_23-2148882765.jpg?w=1380&t=st=1668026090~exp=1668026690~hmac=04781beebca9891d243a79bf82fe8ad8a26e3e76c3c310bd97878cba7d7f0d95');
      }
      </style> 
    <!-- Center Horizontal and Vertical -->
    <div
      style="
        margin-left: 5%;
        padding: 8px 16px;
        height: 100%;
        text-align: center;
        font-size: 28;
        
      "

      
    >
    <body style="background-color:rgb(159, 245, 255);"></body>
      <h1 style="text-align: center"><b>Seneca Library</b></h1>
      <div style="text-align: center">
        <h3>Seneca Book Library</h3>
        <p 
        style="color:rgb(0, 0, 0);"> The Purpose of this website is to guide you through a sea of
          information
        </p>
        <p1>
          <b>Vision</b><br>
          
          Seneca Libraries is central to the vibrant instructional and learning culture found throughout the college.<br>
          Through innovative services and collaborative partnerships, Seneca Libraries actively engages with the college <br>
          community to enhance student success. We provide access to the finest library resources, trusted learning spaces and<br>
          the expertise of professional librarians and support staff.<br>
        
          
          <b>Mission</b><br>
          
          To create seamless access to Seneca Libraries’ resources, services and spaces by:<br>
          
              Integrating library products and services into all instructional modalities Researching, experimenting with and<br>
              distributing the new technologies that enhance and support diverse learning styles Promoting innovation and excellence<br>
              in teaching information literacy competencies for faculty and students Advocating for improved library spaces that support<br>
              student learning and knowledge creation Expanding electronic formats through innovative technologies Creating opportunities for<br>
              library staff training Pursuing collaborative relationships to enhance and develop quality products and services.<br>
          
          <b>Values</b><br>
          
          Seneca Libraries is committed to quality by offering:<br>
          
              Student-centered product and service provision Excellence in customer service and instructional activities Respect for all<br>
              students, faculty and staff Vibrant workplaces based on personal integrity, professionalism, knowledge, accountability, diversity,<br>
              openness and trust Innovation in tracking, testing and implementing relevant and leading-edge technologies and resources Collaboration,<br>
              teamwork and leadership with internal and external partners Empowerment through equitable library access regardless of media or learning style
          
          </p1>
      </div>
    </div>
  </body>
</html>
